ul.nav.nav-tabs.nav-justified
  = content_tag(:li, (link_to 'Моя подписка', '#mine', :data => { :toggle => 'tab' }), :class => 'active')
  = content_tag(:li, (link_to 'Все блоги', '#all', :data => { :toggle => 'tab' }))