<div class="jumbotron">
    <div>
        <ul class="nav nav-list">
            <li><label class="tree-toggler nav-header">+ Образование</label>
                <ul class="nav nav-list tree">
                    <li><a href="#">Проектирование</a></li>
                    <li><a href="#">Монтаж</a></li>
                    <li><a href="#">Радиоантенны</a></li>
                    <li><label class="tree-toggler nav-header">+ Производство</label>
                        <ul class="nav nav-list tree">
                            <li><a href="#">Проектирование</a></li>
                            <li><a href="#">Монтаж</a></li>
                            <li><a href="#">Радиоантенны</a></li>
                            <li><label class="tree-toggler nav-header">+ Наука</label>
                                <ul class="nav nav-list tree">
                                    <li><a href="#">Радиоэлектроника</a></li>
                                    <li><a href="#">Видеокассеты</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="divider"></li>
            <li><label class="tree-toggler nav-header">+ Видео с учеными</label>
                <ul class="nav nav-list tree">
                    <li><a href="#">Разрешенное</a></li>
                    <li><a href="#">Запретное</a></li>
                    <li><label class="tree-toggler nav-header">+ На грани фантастики</label>
                        <ul class="nav nav-list tree">
                            <li><a href="#">Сферы</a></li>
                            <li><a href="#">Лучи</a></li>
                        </ul>
                    </li>
                    <li><label class="tree-toggler nav-header">+ В поисках истины</label>
                        <ul class="nav nav-list tree">
                            <li><a href="#">Прошлое</a></li>
                            <li><a href="#">Секретные знания</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>