.logo a {
	color: black;
	text-decoration: none;
}

.topmenu {
	margin-top: 10px;
	margin-bottom: 40px;
}

.article {
	margin-top: 30px;
	margin-bottom: 50px;
}

.article_text {
	margin-top: 10px;
	margin-bottom: 20px;
}

#new_comment input[type="submit"], #new_article input[type="submit"] {
	margin-top: 20px;
}

.chosen-container.chosen-choices {
    height: 610px;
}

.similar_article_date {
	color: grey;
	margin-bottom: 15px;
}

.organization_title {
	margin-bottom: 40px;
}

#new_user input {
	margin-top: 20px;
}

#new_user input[type="checkbox"] {
	margin-top: 4px;
}

.social_links {
	margin-top: 40px;
}

.social_links a {
	font-size: 35px;
	margin-right: 30px;
}

.role_description {
	margin-top: 20px;
	color: grey;
}

.role_description ul {
	list-style-type: none;
	padding: 0px;
}

.role_description ul li {
	line-height: 2;
}
.organization_cell h1 {
	margin-top: 0px;
	display: inline-block;
}
.organization_cell h1 a {
	color: black;
}
.organization_cell .btn-primary {
	margin-left: 60px;
}

#configure_news_list {
	margin-bottom: 40px;
}